.header {
    font-size: 28px;
    margin: 50px 0 40px;
}

.table {
    display: block;
    border: 1px solid #fff;
    width: calc(100% - 20px);
    margin: auto;
    font-size: 20px;
    border-collapse: collapse;
    text-align: center;
}

a {
    cursor: pointer;
}



thead {
    background-color: burlywood;
}

.thead_btn {
    background: none;
    border: none;

}


th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}

td {
    width: 10%;
    height: 50px;
}

td:first-child {
    width: 1%;
    min-width: 45px;
    /*background: #D8E6F3;*/
}

td:last-child {
    width: 5%;
    min-width: 2rem;
    /*background: #D8E6F3;*/
}

tbody tr:hover {
    background-color: antiquewhite;
}

@media screen and (max-width: 768px) {
    .table {
        font-size: 12px;
    }

    .table td:nth-child(4) {
        display: none;
    }

    .table td:nth-child(5) {
        display: none;
    }

    td {
        height: 30px;
    }

}

.paginationArea {
    margin: 50px 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 0;
}

.numberWrapper {
    width: 25px;
    height: 25px;
    display: inline-flex;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 1px solid #000; /* Рамка вокруг текста */
    padding: 0; /* Поля вокруг текста */
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

.numberActive {
    background-color: #282c34;
}

.numberWrapper a {
    text-decoration: none;
    color: #FFFFFF;
}

input {
    box-sizing: border-box;
    width: 98%;
}

.keyboard_focus_button {
    all: initial;
    color: #fff;
    font-size: 20px;
    display: block;
    width: 100%;
    height: 100%;

}

/* Fixing the Safari bug for `<button>`s overflow */
.keyboard_focus_button__label {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* All the states on the inner element */
:hover > .keyboard_focus_button__label {
    color: #ddd;
}

:active > .keyboard_focus_button__label {
    color: #555;
}

:focus > .keyboard_focus_button__label {
    outline: auto #282c34;
    outline-offset: -5px;
}

/* Removing the focus ring styles specifically for button in Firefox */
button:not(:-moz-focusring):focus > .ComplexButton_Content {
    box-shadow: none;
}

/* Removing default outline only after we've added our custom one */
.keyboard_focus_button:focus,
.keyboard_focus_button__label:focus {
    outline: none;
}